<app-box>
    <label for="toggle-filter" class="filter-toggle">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <input type="checkbox" id="toggle-filter" />
    <div class="filter">
        <h3>Filters</h3> <button routerLink="/launch-programs">Clear</button>
        <app-filter-template [filterName]="'Launch Year'">
            <div class="btn-group">
                <button *ngFor="let year of years" class="green" [ngClass]="{'active' : filters['launch_year'] === year + ''}" (click)="navigateTo('launch_year', year)">{{year}}</button>
            </div>
        </app-filter-template>
        <app-filter-template [filterName]="'Successful Launch'">
            <div class="btn-group">
                <button [ngClass]="{'active' : filters['launch_success'] === 'true'}" class="green" (click)="navigateTo('launch_success', 'true')">True</button>
                <button [ngClass]="{'active' : filters['launch_success'] === 'false'}" class="green" (click)="navigateTo('launch_success', 'false')">False</button>
            </div>
        </app-filter-template>
        <app-filter-template [filterName]="'Successful Landing'">
            <div class="btn-group">
                <button [ngClass]="{'active' : filters['land_success'] === 'true'}" class="green" (click)="navigateTo('land_success', 'true')" class="green">True</button>
                <button [ngClass]="{'active' : filters['land_success'] === 'false'}" class="green" (click)="navigateTo('land_success', 'false')" class="green">False</button>
            </div>
        </app-filter-template>
    </div>
</app-box>