@import './../variables.scss';

@media (max-width: 699px) {
    .grid-container {
        display: grid;
        grid-template-columns: var(--app-box-width);
        grid-gap: 0 5px;
        width: 100%;
        justify-self: center;
    }
}

@media (min-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: var(--app-box-width) 0 auto;
        grid-gap: 0 5px;
        width: 100%;
        justify-self: center;
    }
}

header {
    margin: 5px 0;
}

.container {
    width: var(--main-container-width);
    margin: 0 auto;
    display: grid;
    .content {
        justify-self: center;
    }
}
